*{
    margin: 0px;
    padding: 0px;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@import url("http://fonts.googleapis.com/css?family=Dosis:600|Roboto+Slab:100,300,400,700");


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; 
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; 
}

html {
  font-family: "orator","Roboto Slab", sans-serif;
  font-size: 12px; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
  background: black;
  text-transform: uppercase;
  text-align: center;
  color: white; }

h1, h2, h3 {
  line-height: 0.7;
  font-weight: 300;
  margin: 0; 
}

h1 {
  font-size: 2.83333em; 
}

h2 {
  font-size: 2.3em; 
  color: #dadada;
  letter-spacing: -3px;
}

h3 {
  font-size: 1.2em; 
  color: #28a6da;
  line-height: 1;
  letter-spacing: -2px;
}


p {
  margin: 0 0 1.4em; }

em {
  font-style: normal;
  color: #d92400; }

ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.headline{
    height: 300px;
}


.title {
    background: url(../images/skull.png) no-repeat 50% 100%;
    font-size: 3em;
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    height: 550px;
    top: 10%; 
}

.background {
    background: url(../images/background.jpg) no-repeat 50% 100%;
    bottom: 96px;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%; 
}

.party-info {
    text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
    margin: 0px -64px;
    height: 224px;
    width: 428px;
    position: absolute;
    text-align: left;
    hr{
        max-width: 50px;
        margin: 5px 0 25px 0;
    }
    &.djsRight{
        top: 100px;
        right: 15%; 
    }
    &.djsLeft{
        top: 100px;
        left: 20%; 
    }

    &.price{
      font-family: "bahiana-regular", sans-serif;
      left: 20%; 
      bottom: 120px;
      h2{
        font-size: 2.6em; 
        color: #28a6da;
        letter-spacing: 1px;
        line-height: 1.1;
      }
      h3{
        color: #dadada;
        font-size: 1.9em; 
        letter-spacing: 1px;
      }
      span{
        font-size: 1.3em;
      }
    }

    &.cover{
      font-family: "bahiana-regular", sans-serif;
      right: 15%; 
      bottom: 50px;
      h2{
        font-size: 2.2em; 
        color: #28a6da;
        letter-spacing: 1px;
        line-height: 1.1;
      }
      h3{
        color: #dadada;
        font-size: 1.9em; 
        letter-spacing: 1px;
      }
      span{
        font-size: 1.3em;
      }
    }
    &.venue{
        bottom: 200px;
        height: 50px;
        font-size: 4em;
        line-height: 1;
        width: 100%;
        left: 3%; 
        text-align: center;
        font-family: "bahiana-regular", sans-serif;
        em{
          color: #28a6da;
        }
        span{
            font-size: .7em;
            line-height: 1.3;
        }
        p{
          font-size: 0.5em;
          margin: 0;
          line-height: 1.8;
        }
        .border{
            border: 1px solid #dadada;
            padding: 0 5px 5px 10px;
            overflow: hidden;
        }
    }
}
.forkit-curtain{
  overflow : hidden;
  width    : 100%;
  height   : 100%; 
    .mapagram{
      margin  : 0 auto;
      padding : 20px 70px; 
    .insta{
      float : left;
      .box{
        height     : auto;
        width      : 600px;
      }
    }
    .loadMore{
      cursor : pointer;  
    }
    .mapa{
      ul{
        li{
          display : inline-block; 
        }
      }
      float : right;
    }
  }
}