.bounce-1 {
    -webkit-animation: bounce 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: bounce 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: bounce 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.bounce-2 {
    -webkit-animation: bounce 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: bounce 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: bounce 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.bounce-3 {
    -webkit-animation: bounce 3.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: bounce 3.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: bounce 3.6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.bounce-4 {
    -webkit-animation: bounce 3.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: bounce 3.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: bounce 3.4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.swing-1 {
    -webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.swing-2 {
    -webkit-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.fade-2 {
    -webkit-animation: fade 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: fade 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: fade 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.swing-3 {
    -webkit-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.swing-4 {
    -webkit-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.swing-5 {
    -webkit-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.phase-1 {
    -webkit-animation: phase 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: phase 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: phase 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.phase-2 {
    -webkit-animation: phase-shake 12s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: phase-shake 12s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: phase-shake 12s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.shake-1 {
    -webkit-animation: shake 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: shake 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: shake 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.shake-2{
    -webkit-animation: shake 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: shake 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: shake 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.shake-right {
    -webkit-animation: shake-right 9s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: shake-right 9s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: shake-right 9s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

@-webkit-keyframes phase-shake {
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    }
    25% { opacity: 0.4; }
    50% { 
        opacity: 0.8; 
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        transform: translateX(50px);
    }
    75% { opacity: 0.4; }
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    } 
}
@-moz-keyframes phase-shake {
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    }
    25% { opacity: 0.4; }
    50% { 
        opacity: 0.8; 
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        transform: translateX(50px);
    }
    75% { opacity: 0.4; }
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    } 
}
@-ms-keyframes phase-shake {
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    }
    25% { opacity: 0.4; }
    50% { 
        opacity: 0.8; 
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        transform: translateX(50px);
    }
    75% { opacity: 0.4; }
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    } 
}
@keyframes phase-shake {
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    }
    25% { opacity: 0.4; }
    50% { 
        opacity: 0.8; 
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        transform: translateX(50px);
    }
    75% { opacity: 0.4; }
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);
    } 
}

@-webkit-keyframes phase {
    0% { opacity: 1; }
    25% { opacity: 0.4; }
    50% { opacity: 0.8; }
    75% { opacity: 0.4; }
    100% { opacity: 1; } 
}
@-moz-keyframes phase {
    0% { opacity: 1; }
    25% { opacity: 0.4; }
    50% { opacity: 0.8; }
    75% { opacity: 0.4; }
    100% { opacity: 1; } 
}
@-ms-keyframes phase {
    0% { opacity: 1; }
    25% { opacity: 0.4; }
    50% { opacity: 0.8; }
    75% { opacity: 0.4; }
    100% { opacity: 1; } 
}
@keyframes phase {
    0% { opacity: 1; }
    25% { opacity: 0.4; }
    50% { opacity: 0.8; }
    75% { opacity: 0.4; }
    100% { opacity: 1; } 
}

@-webkit-keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0.2; } 
}
@-moz-keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0.2; } 
}
@-ms-keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0.2; } 
}
@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0.2; } 
}

@-webkit-keyframes tilt {
    0% {
        -webkit-transform: rotateX(-30deg);
        -moz-transform: rotateX(-30deg);
        transform: rotateX(-30deg); 
    }
    25% {
        -webkit-transform: rotateX( 30deg);
        -moz-transform: rotateX( 30deg);
        transform: rotateX( 30deg); 
    }
    50% {
        -webkit-transform: rotateY(-30deg);
        -moz-transform: rotateY(-30deg);
        transform: rotateY(-30deg); 
    }
    75% {
        -webkit-transform: rotateY( 30deg);
        -moz-transform: rotateY( 30deg);
        transform: rotateY( 30deg); 
    }
    100% {
        -webkit-transform: rotateZ( 20deg);
        -moz-transform: rotateZ( 20deg);
        transform: rotateZ( 20deg); 
    } 
}
@-moz-keyframes tilt {
    0% {
        -webkit-transform: rotateX(-30deg);
        -moz-transform: rotateX(-30deg);
        transform: rotateX(-30deg); 
    }
    25% {
        -webkit-transform: rotateX( 30deg);
        -moz-transform: rotateX( 30deg);
        transform: rotateX( 30deg); 
    }
    50% {
        -webkit-transform: rotateY(-30deg);
        -moz-transform: rotateY(-30deg);
        transform: rotateY(-30deg); 
    }
    75% {
        -webkit-transform: rotateY( 30deg);
        -moz-transform: rotateY( 30deg);
        transform: rotateY( 30deg); 
    }
    100% {
        -webkit-transform: rotateZ( 20deg);
        -moz-transform: rotateZ( 20deg);
        transform: rotateZ( 20deg); 
    } 
}
@-ms-keyframes tilt {
    0% {
        -webkit-transform: rotateX(-30deg);
        -moz-transform: rotateX(-30deg);
        transform: rotateX(-30deg); 
    }
    25% {
        -webkit-transform: rotateX( 30deg);
        -moz-transform: rotateX( 30deg);
        transform: rotateX( 30deg); 
    }
    50% {
        -webkit-transform: rotateY(-30deg);
        -moz-transform: rotateY(-30deg);
        transform: rotateY(-30deg); 
    }
    75% {
        -webkit-transform: rotateY( 30deg);
        -moz-transform: rotateY( 30deg);
        transform: rotateY( 30deg); 
    }
    100% {
        -webkit-transform: rotateZ( 20deg);
        -moz-transform: rotateZ( 20deg);
        transform: rotateZ( 20deg); 
    } 
}
@keyframes tilt {
    0% {
        -webkit-transform: rotateX(-30deg);
        -moz-transform: rotateX(-30deg);
        transform: rotateX(-30deg); 
    }

    25% {
        -webkit-transform: rotateX( 30deg);
        -moz-transform: rotateX( 30deg);
        transform: rotateX( 30deg); 
    }

    50% {
        -webkit-transform: rotateY(-30deg);
        -moz-transform: rotateY(-30deg);
        transform: rotateY(-30deg); 
    }

    75% {
        -webkit-transform: rotateY( 30deg);
        -moz-transform: rotateY( 30deg);
        transform: rotateY( 30deg); 
    }

    100% {
        -webkit-transform: rotateZ( 20deg);
        -moz-transform: rotateZ( 20deg);
        transform: rotateZ( 20deg); 
    } 
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    }
    55% {     
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        transform: translateY(80px); 
    }
    100% { 

        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    } 
}
@-moz-keyframes bounce {

    0% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    }
    55% {      
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        transform: translateY(80px); 
    }
    100% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    } 
}
@-ms-keyframes bounce {
    0% {        
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    }
    55% {      
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        transform: translateY(80px); 
    }
    100% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    } 
}
@keyframes bounce {
    0% {        
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    }
    55% {
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        transform: translateY(80px); 
    }
    100% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px); 
    } 
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px); 
    }
    100% {
        -webkit-transform: translateX( 50px);
        -moz-transform: translateX( 50px);
        transform: translateX( 50px); 
    } 
}
@-moz-keyframes shake {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px); 
    }
    100% {
        -webkit-transform: translateX( 50px);
        -moz-transform: translateX( 50px);
        transform: translateX( 50px); 
    } 
}
@-ms-keyframes shake {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);         
    }
    100% {
        -webkit-transform: translateX( 50px);
        -moz-transform: translateX( 50px);
        transform: translateX( 50px); 
    } 
}
@keyframes shake {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        transform: translateX(100px);      
    }
    100% {
        -webkit-transform: translateX( 50px);
        -moz-transform: translateX( 50px);
        transform: translateX( 50px); 
    } 
}

@-webkit-keyframes shake-right {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0); 
    }
    100% {
        -webkit-transform: translateX( -20px);
        -moz-transform: translateX( -20px);
        transform: translateX( -20px); 
    } 
}
@-moz-keyframes shake-right {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0); 
    }
    100% {
        -webkit-transform: translateX( -20px);
        -moz-transform: translateX( -20px);
        transform: translateX( -20px); 
    } 
}
@-ms-keyframes shake-right {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);        
    }
    100% {
        -webkit-transform: translateX( -20px);
        -moz-transform: translateX( -20px);
        transform: translateX( -20px); 
    } 
}
@keyframes shake-right {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);      
    }
    100% {
        -webkit-transform: translateX( -20px);
        -moz-transform: translateX( -20px);
        transform: translateX( -20px); 
    } 
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); 
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); 
    } 
}
@-moz-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); 
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); 
    } 
}
@-ms-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); 
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); 
    } 
}
@keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); 
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); 
    } 
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        transform: rotateZ(10deg); 
    }
    100% {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg); 
    } 
}
@-moz-keyframes swing {
    0% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        transform: rotateZ(10deg); 
    }
    100% {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg); 
    } 
}
@-ms-keyframes swing {
    0% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        transform: rotateZ(10deg); 
    }
    100% {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg); 
    } 
}
@keyframes swing {
    0% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        transform: rotateZ(10deg); 
    }
    100% {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg); 
    } 
}