/* first for IE 4–8 */
@font-face {font-family: orator;src: url("fonts/orator.eot");}
/* then for WOFF-capable browsers */
@font-face {font-family: orator;src: url("fonts/orator.woff") format("woff");}

/* first for IE 4–8 */
@font-face {font-family: bahiana-regular;src: url("fonts/bahiana-regular.eot");}
/* then for WOFF-capable browsers */
@font-face {font-family: bahiana-regular;src: url("fonts/bahiana-regular.woff") format("woff");}