@media all and (min-width: 900px) {
    html {
        font-size: 15px; 
    }

    .center {
        max-width: 560px; 
    }

    .about .panel:after {
        background-size: 280px 280px;
        height: 200px;
        width: 160px; 
    }
    .about .panel header:before {
        background-size: 82.5px 112.5px; 
    }
    .about .panel .links a {
        padding: 1.2em 0 1.3em; 
    }

    .toggle {
        margin: -28px;
        bottom: 12%; 
    }

    .title {
        font-size: 3.46667em; 
    }

    .background {
        bottom: 160px; 
    }

    .party-info {
        margin: 0px -104px;
        background-size: 208px 364px;
        height: 364px;
        width: 208px;
        bottom: 128px; 
    }

    .light {
        margin: -160px -160px;
        background-size: 320px 320px;
        height: 320px;
        width: 320px; 
    }
    .light.a {
        bottom: 112px;
        left: 15%; 
    }
    .light.b {
        bottom: 160px; 
    }
    .light.c {
        bottom: 208px; 
    }
    .light.d {
        bottom: 176px; 
    }
    .light.e {
        bottom: 208px; 
    }
    .light.f {
        bottom: 128px;
        left: 85%; 
    }

    .wave.depth-10 {
        bottom: 238px;
        margin: 0px 0px;
        background-size: 68px 27.2px;
        height: 27px; 
    }
    .wave.depth-10:after {
        height: 244.8px; 
    }

    .rope.depth-10 {
        top: 10%; 
    }
    .rope.depth-10 .hanger {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5); 
    }

    .wave.depth-20 {
        bottom: 204px;
        margin: 0px 0px;
        background-size: 136px 54.4px;
        height: 54px; 
    }
    .wave.depth-20:after {
        height: 217.6px; 
    }

    .rope.depth-20 {
        top: 6.66667%; 
    }
    .rope.depth-20 .hanger {
        -webkit-transform: scale(0.56111);
        -moz-transform: scale(0.56111);
        transform: scale(0.56111); 
    }

    .wave.depth-30 {
        bottom: 170px;
        margin: 0px 0px;
        background-size: 204px 81.6px;
        height: 82px; 
    }
    .wave.depth-30:after {
        height: 190.4px; 
    }

    .rope.depth-30 {
        top: 3.33333%; 
    }
    .rope.depth-30 .hanger {
        -webkit-transform: scale(0.62222);
        -moz-transform: scale(0.62222);
        transform: scale(0.62222); 
    }

    .wave.depth-40 {
        bottom: 136px;
        margin: 0px 0px;
        background-size: 272px 108.8px;
        height: 109px; 
    }
    .wave.depth-40:after {
        height: 163.2px; 
    }

    .rope.depth-40 {
        top: 0.0%; 
    }
    .rope.depth-40 .hanger {
        -webkit-transform: scale(0.68333);
        -moz-transform: scale(0.68333);
        transform: scale(0.68333); 
    }

    .wave.depth-50 {
        bottom: 102px;
        margin: 0px 0px;
        background-size: 340px 136px;
        height: 136px; 
    }
    .wave.depth-50:after {
        height: 136px; 
    }

    .rope.depth-50 {
        top: -3.33333%; 
    }
    .rope.depth-50 .hanger {
        -webkit-transform: scale(0.74444);
        -moz-transform: scale(0.74444);
        transform: scale(0.74444); 
    }

    .wave.depth-60 {
        bottom: 68px;
        margin: 0px 0px;
        background-size: 408px 163.2px;
        height: 163px; 
    }
    .wave.depth-60:after {
        height: 108.8px; 
    }

    .rope.depth-60 {
        top: -6.66667%; 
    }
    .rope.depth-60 .hanger {
        -webkit-transform: scale(0.80556);
        -moz-transform: scale(0.80556);
        transform: scale(0.80556); 
    }

    .wave.depth-70 {
        bottom: 34px;
        margin: 0px 0px;
        background-size: 476.0px 190.4px;
        height: 190px; 
    }
    .wave.depth-70:after {
        height: 81.6px; 
    }

    .rope.depth-70 {
        top: -10.0%; 
    }
    .rope.depth-70 .hanger {
        -webkit-transform: scale(0.86667);
        -moz-transform: scale(0.86667);
        transform: scale(0.86667); 
    }

    .wave.depth-80 {
        bottom: 0px;
        margin: 0px 0px;
        background-size: 544px 217.6px;
        height: 218px; 
    }
    .wave.depth-80:after {
        height: 54.4px; 
    }

    .rope.depth-80 {
        top: -13.33333%; 
    }
    .rope.depth-80 .hanger {
        -webkit-transform: scale(0.92778);
        -moz-transform: scale(0.92778);
        transform: scale(0.92778); 
    }

    .wave.depth-90 {
        bottom: -34px;
        margin: 0px 0px;
        background-size: 612px 244.8px;
        height: 245px; 
    }
    .wave.depth-90:after {
        height: 27.2px; 
    }

    .rope.depth-90 {
        top: -16.66667%; 
    }
    .rope.depth-90 .hanger {
        -webkit-transform: scale(0.98889);
        -moz-transform: scale(0.98889);
        transform: scale(0.98889); 
    }

    .wave.depth-100 {
        bottom: -68px;
        margin: 0px 0px;
        background-size: 680px 272px;
        height: 272px; 
    }
    .wave.depth-100:after {
        height: 0px; 
    }

    .rope.depth-100 {
        top: -20%; 
    }
    .rope.depth-100 .hanger {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05); 
    } 
}

@media all and (min-width: 600px) {
    html {
        font-size: 15px; 
    }

    button {
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
        height: 56px;
        width: 56px; 
    }

    footer .fb-like {
        position: static;
        bottom: auto;
        right: auto; 
    }

    .center {
        max-width: 440px; 
    }

    .about .panel:after {
        background-size: 252px 252px;
        height: 180px;
        width: 140px; 
    }
    .about .panel header:before {
        background-size: 82.5px 112.5px; 
    }

    .prompt {
        overflow: visible;
        display: block;
        width: 0; 
    }
    .prompt.hide .panel {
        -webkit-transform: translate3d(0,50%,400px) rotateX(90deg);
        -moz-transform: translate3d(0,50%,400px) rotateX(90deg);
        transform: translate3d(0,50%,400px) rotateX(90deg); 
    }
    .prompt .cell {
        position: absolute;
        display: block;
        bottom: 25px;
        left: 25px; 
    }
    .prompt .dismiss {
        right: 0px;
        top: 0px; 
    }
    .prompt .panel {
        -webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        padding: 1em 0 0.8em;
        width: 220px; 
    }
    .prompt .panel img {
        margin: 0.4em auto 0.6em;
        width: 80px; 
    }
    .prompt .panel h2 {
        font-size: 1.6em; 
    }
    .prompt .panel p {
        font-size: 0.93333em;
        margin: 0 10% 1.3em;
        line-height: 1.3em; 
    }

    .toggle {
        margin: -28px;
        bottom: 15%; 
    }

    .title {
        font-size: 3.46667em; 
    }

    .background {
        bottom: 96px; 
    }

    .party-info {
        margin: 0px -96px;
        background-size: 192px 336px;
        height: 336px;
        width: 192px;
        bottom: 128px; 
    }

    .light {
        margin: -140px -140px;
        background-size: 280px 280px;
        height: 280px;
        width: 280px; 
    }
    .light.a {
        bottom: 144px; 
    }
    .light.b {
        bottom: 144px; 
    }
    .light.c {
        bottom: 192px; 
    }
    .light.d {
        bottom: 160px; 
    }
    .light.e {
        bottom: 192px; 
    }
    .light.f {
        bottom: 128px; 
    }

    .wave.depth-10 {
        bottom: 210px;
        margin: 0px 0px;
        background-size: 60px 24px;
        height: 24px; 
    }
    .wave.depth-10:after {
        height: 216px; 
    }

    .rope.depth-10 {
        top: 20%; 
    }
    .rope.depth-10 .hanger {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5); 
    }

    .wave.depth-20 {
        bottom: 180px;
        margin: 0px 0px;
        background-size: 120px 48px;
        height: 48px; 
    }
    .wave.depth-20:after {
        height: 192px; 
    }

    .rope.depth-20 {
        top: 16.66667%; 
    }
    .rope.depth-20 .hanger {
        -webkit-transform: scale(0.55556);
        -moz-transform: scale(0.55556);
        transform: scale(0.55556); 
    }

    .wave.depth-30 {
        bottom: 150px;
        margin: 0px 0px;
        background-size: 180px 72px;
        height: 72px; 
    }
    .wave.depth-30:after {
        height: 168px; 
    }

    .rope.depth-30 {
        top: 13.33333%; 
    }
    .rope.depth-30 .hanger {
        -webkit-transform: scale(0.61111);
        -moz-transform: scale(0.61111);
        transform: scale(0.61111); 
    }

    .wave.depth-40 {
        bottom: 120px;
        margin: 0px 0px;
        background-size: 240px 96px;
        height: 96px; 
    }
    .wave.depth-40:after {
        height: 144px; 
    }

    .rope.depth-40 {
        top: 10.0%; 
    }
    .rope.depth-40 .hanger {
        -webkit-transform: scale(0.66667);
        -moz-transform: scale(0.66667);
        transform: scale(0.66667); 
    }

    .wave.depth-50 {
        bottom: 90px;
        margin: 0px 0px;
        background-size: 300px 120px;
        height: 120px; 
    }
    .wave.depth-50:after {
        height: 120px; 
    }

    .rope.depth-50 {
        top: 6.66667%; 
    }
    .rope.depth-50 .hanger {
        -webkit-transform: scale(0.72222);
        -moz-transform: scale(0.72222);
        transform: scale(0.72222); 
    }

    .wave.depth-60 {
        bottom: 60px;
        margin: 0px 0px;
        background-size: 360px 144px;
        height: 144px; 
    }
    .wave.depth-60:after {
        height: 96px; 
    }

    .rope.depth-60 {
        top: 3.33333%; 
    }
    .rope.depth-60 .hanger {
        -webkit-transform: scale(0.77778);
        -moz-transform: scale(0.77778);
        transform: scale(0.77778); 
    }

    .wave.depth-70 {
        bottom: 30px;
        margin: 0px 0px;
        background-size: 420px 168px;
        height: 168px; 
    }
    .wave.depth-70:after {
        height: 72px; 
    }

    .rope.depth-70 {
        top: 0.0%; 
    }
    .rope.depth-70 .hanger {
        -webkit-transform: scale(0.83333);
        -moz-transform: scale(0.83333);
        transform: scale(0.83333); 
    }

    .wave.depth-80 {
        bottom: 0px;
        margin: 0px 0px;
        background-size: 480px 192px;
        height: 192px; 
    }
    .wave.depth-80:after {
        height: 48px; 
    }

    .rope.depth-80 {
        top: -3.33333%; 
    }
    .rope.depth-80 .hanger {
        -webkit-transform: scale(0.88889);
        -moz-transform: scale(0.88889);
        transform: scale(0.88889); 
    }

    .wave.depth-90 {
        bottom: -30px;
        margin: 0px 0px;
        background-size: 540px 216px;
        height: 216px; 
    }
    .wave.depth-90:after {
        height: 24px; 
    }

    .rope.depth-90 {
        top: -6.66667%; 
    }
    .rope.depth-90 .hanger {
        -webkit-transform: scale(0.94444);
        -moz-transform: scale(0.94444);
        transform: scale(0.94444); 
    }

    .wave.depth-100 {
        bottom: -60px;
        margin: 0px 0px;
        background-size: 600px 240px;
        height: 240px; 
    }
    .wave.depth-100:after {
        height: 0px; 
    }

    .rope.depth-100 {
        top: -10%; 
    }
    .rope.depth-100 .hanger {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1); 
    } 
}